@charset "utf-8";
/*border */
.img_border { border: 4px solid #fff; border-radius: 1px;}

.container {
    margin: 0 auto;
    /*width: 1000px;*/
    width: 960px;
}

.container1000{
    margin: 0 auto;
    width:1000px;
    background:#fff
	}



  .module-area{
	  width:600px;
	  height:300px;
	  background:#CCC;
	  position:absolute;
	  left:50%;
	  top:30%;
	  margin-left:-300px;
	  margin-top:-190px;
	  z-index:1000;
	 display:none;
	 }


	 .module-head
     {
		 width:100%;
		 height:30px;
		 background:#4E4E4E;

	 }
    .module-head span
    {       
             margin-left:280px;
			 text-align:center;
			 line-height:30px;
			 color:#FFF;

    } 

.registar-area{
	  width:600px;
	  height:380px;
	  background:#CCC;
	  position:absolute;
	  left:50%;
	  top:50%;
	  margin-left:-300px;
	  margin-top:-190px;
	  z-index:10;
	 display:none;
	 }

.module-close {
    background: url('../../images/close.png') no-repeat;
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 3px;
    text-indent: -999em;
}

 .blanks{
        display:none;
        width:100%;
        height:100%;
        height:100px;
        position:absolute;
        top:0;
        background-color:#ccc;
        z-index:1000;
        -moz-opacity: 0.5;  
        opacity:.80;  
        filter: alpha(opacity=50);
    }

  .module-area2{
	  width:600px;
	  height:300px;
	  background:#CCC;
	  position:absolute;
	  left:35%;
	  top:650%;
	  z-index:1000;
	 display:none;
	 }
	 .module-head2
     {
		 width:100%;
		 height:30px;
		 background:#4E4E4E;

	 }
    .module-head2 span
    {       
             margin-left:280px;
			 text-align:center;
			 line-height:30px;
			 color:#FFF;

    } 

.registar-area2{
	  width:600px;
	  height:380px;
	  background:#CCC;
	  position:absolute;
	  left:50%;
	  top:50%;
	  margin-left:-300px;
	  margin-top:-190px;
	  z-index:10;
	 display:none;
	 }

.module-close2 {
    background: url('../../images/close.png') no-repeat;
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 3px;
    text-indent: -999em;
}

.Sure {
 
    background: url('../../assets/img/attach-blue.png') no-repeat;
    cursor: pointer;
    width:150px;
    height:40px;
    float:right;
    margin-right:20%;
    text-align:center;
    font-size:16px;
    line-height:35px;
    color:white;
    font-family:"微软雅黑";

}



 .blanks2{
        display:none;
        width:100%;
        height:100%;
        height:100px;
        position:absolute;
        top:0;
        background-color:#ccc;
        z-index:1000;
        -moz-opacity: 0.5;  
        opacity:.80;  
        filter: alpha(opacity=50);
    }


#loginInput{
		margin-top:25px;
		text-align:center;
	}
	

  
	.loginBnt input{ 
		height: 40px;
		width: 150px;
		border:none;
		background:#48B149;
		color:#FFF;
		font-size:16px;
		font-family:"微软雅黑";
		text-align:center;
		border-radius:5px;
	}
    .loginBnt input:hover{ background:#c9394a; cursor: pointer;} 
	






  body { 
  background:#f5f5f5;
}
  
  a:link,a:visited { 
  text-decoration:none}
  
  a:hover,a:active { 
  outline: none;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;}
  

  
  
  
  
 